= form_for @mark do |f|
  - if @mark.errors.any?
    #error_explanation
      h2 = "#{pluralize(@mark.errors.count, "error")} prohibited this mark from being saved:"
      ul
        - @mark.errors.full_messages.each do |message|
          li = message

  == f.text_field :value, class: 'form-control input-sm', pattern: '[\-0-9]{0,10}', title: 'only \-0-9, size 0..10', placeholder: "value"
  == f.text_field :noob_name, class: 'form-control input-sm',  pattern: '[a-z\-_0-9]{2,10}', title: 'only a-Z,-,_,0-9, size 2..10', placeholder: "username"
  / == f.hidden_field :noob_id
  .actions = f.submit class: "btn btn-sm btn-success noobCreateLink"
