h1 Editing noob

== render 'form', locals: {button_label: "Update Noob"}
== render 'marks/form'

== link_to 'Show', @noob, class: 'btn btn-sm btn-default'
== link_to 'Back', noobs_path, class: 'btn btn-sm btn-default'
